.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta la altura para que ocupe todo el alto de la ventana */
  background: url('http://cdn130.picsart.com/260387705033202.gif?to=min&r=1024') no-repeat;
  background-size: cover;
  background-position: center;
}

.contentContainer {
  text-align: center; /* Centra el contenido dentro del contenedor */
  
}


.contenedor {
  position: relative;
  margin-top: 0;
  padding: 0%;
  width: 500px;
  height: 500px;
}

.contenedor::before {
  content: "";
  position: absolute;
  margin-top: 0;
  margin-left:70px;
  width: 100%;
  height: 100%;
  background-image: url('https://staticdelivery.nexusmods.com/mods/1151/images/528-0-1447526230.png');
  background-position: center;
  background-size: cover;
  z-index: 2;
  display: flex;
  
}

h1 {
  position: relative;
  z-index: 1;
 
  text-align: center;
  line-height: 450px;
  margin: 0;
  margin-left:70px;
  padding: 0;
  color: chartreuse;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 550px;
}

h3{
  color: chartreuse;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.btn {
  background-color: chartreuse;
  color: black;
  border-radius: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 25px;
  opacity: 1;
}

.btn:hover{
  opacity: 0.6;
}

.ft {
  color: chartreuse;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 25px;
}

  